<div class="container-fluid" style="height: calc(100% - 58px)">
    <div class="row h-100 mx-1">
        <div class="col-2 h-100" style="position:relative">
            <div class="row" style=" height: calc(100% - 15px)">
                <div class="col-12">
                    <div class="row" style=" height: 50%">
                        <div class="card mt-3 w-100" style="box-shadow: 2px 4px 9px 2px #00000087">
                            <div class="card-header d-flex p-1" style="background-color:#000000c7;color:white">
                                <span>Фильтры</span>
                            </div>
                            <div class="card-body d-flex">
                                <div class="col-12 p-0">
                                    <div class="row w-100 mx-0">
                                        <span>Устройство:</span>
                                        <div class="dropdown w-100">
                                            <button class="w-100 btn btn-standart dropdown-toggle border" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{deviceService.selectedDevice.getValue() === null ? 'Не выбрано' : deviceService.selectedDevice.getValue().title }}
                                            </button>
                                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenu2" style="max-height: 300px;overflow-y: scroll;">
                                                <button class="dropdown-item" type="button">
                                                    <div class="row">
                                                            <div class="col">
                                                                Название
                                                            </div>
                                                            <div class="col">
                                                                Номер
                                                            </div>
                                                    </div>
                                                        
                                                </button>
                                                <button *ngFor="let device of deviceService.deviceList;let num = index" (click)="onSelectDevice(num)" class="dropdown-item" type="button">
                                                    <div class="row">
                                                            <div class="col text-center">{{device.title}}</div>
                                                            <div class="col text-center">{{device.serial}}</div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <span>От:</span>
                                        <div class="form-group">
                                            <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                                                <input [(ngModel)]="dateFilterStart" [options]="dateFilterOptions" NgTempusdominusBootstrapInput type="text" class="form-control" />
                                                <div class="input-group-append" NgTempusdominusBootstrapToggle>
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <span>До:</span>
                                        <div class="form-group">
                                            <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                                                <input [(ngModel)]="dateFilterFinish" [options]="dateFilterOptions" NgTempusdominusBootstrapInput type="text" class="form-control" />
                                                <div class="input-group-append" NgTempusdominusBootstrapToggle>
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-success btn-block">Сформировать</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" style=" height: 50%">
                        <div class="card mt-3 w-100" style="box-shadow: 2px 4px 9px 2px #00000087">
                            <div class="card-header d-flex p-1" style="background-color:#000000c7;color:white">
                                <span>Показатели</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" style="position:relative;height: calc(100% - 77px)">
            <div class="card mt-3 h-100" style="box-shadow: 2px 4px 9px 2px #00000087">
                <div class="card-header d-flex p-1" style="background-color:#000000c7;color:white">
                    Карта
                </div>
                <div class="card-body p-0 h-100">
                    <div style="position: absolute;z-index: 1;background-color: white;right:0px;opacity: 0.8;" class="shadow rounded mt-1 mr-1" *ngIf="deviceService.lastSensorData.length > 0">
                        <div *ngFor="let d of deviceService.lastSensorData">
                            <div class="row m-0 p-0 my-1">
                                <div class="col-auto my-auto">{{d.description}}</div>
                                <div class="col my-auto">{{d.value}} {{d.measure}}</div>
                                <div class="col-auto"><a href="#" class="btn btn-primary">Подробнее</a></div>
                            </div>

                        </div>
                    </div>
                    <agm-map [latitude]="48.4671" [longitude]="35.0163" [zoom]="8" style="width: 100%;height: 100%;" #agmMap>
                        <ng-container *ngIf="deviceService.lastSensorData.length > 0">
                            <agm-marker [latitude]="deviceService.lastSensorData | posValueFromSensors:0" [longitude]="deviceService.lastSensorData | posValueFromSensors:1" [label]="{text:deviceService.selectedDevice.getValue().title,fontSize: '20px',fontWeight: 'bold'}"></agm-marker>
                        </ng-container>
                        <ng-container *ngIf="deviceService.selectedDevice.getValue() !== null && deviceService.selectedDevice.getValue().sensors !== null && deviceService.selectedDevice.getValue().sensors.length > 0">
                            <agm-polyline [strokeColor]="'red'">
                                <ng-container>
                                    <ng-container *ngFor="let point of deviceService.selectedDevice.getValue() | valuesFromDevice:'position'">

                                        <agm-polyline-point [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>

                                    </ng-container>
                                </ng-container>
                            </agm-polyline>
                        </ng-container>
                        <ng-container *ngFor="let t of deviceService.lastPositions;let i = index">
                            <ng-container *ngIf="deviceService.selectedDevice.getValue() === null">
                                <agm-marker [latitude]="t.position.lat" [longitude]="t.position.lng" [title]="t.title" [label]="{text:t.title,fontSize: '20px',fontWeight: 'bold'}" [openInfoWindow]="true" (markerClick)="onSelectDevice(i);" #device>
                                </agm-marker>
                            </ng-container>
                        </ng-container>
                    </agm-map>
                    <div class="row m-0 w-100" style="box-shadow: 2px 4px 9px 2px #00000087">
                        <div class="col-12 px-0">
                            <div class="row w-100 m-0 p-0" style="background-color:#000000c7">
                                <div class="col-auto px-1 my-1">
                                    <button class="btn btn-success" id="play">&#9658;</button>
                                </div>
                                <div class="col-auto px-1 my-1">
                                    <button class="btn btn-danger" id="pause">&#9632;</button>
                                </div>
                                <div class="col px-1 my-auto mr-2">
                                    <input type="range" class="w-100" min="0" step="1" [max]="countSteps" [value]="countSteps" id="rangeInputHistory" (input)="onChangeRangeHistory(inputRangeHistory.value)" #inputRangeHistory>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 h-100" style="position:relative">
            <div class="row" style=" height: calc(100% - 15px)">
                <div class="card mt-3 w-100" style="box-shadow: 2px 4px 9px 2px #00000087">
                    <div class="card-header d-flex p-1" style="background-color:#000000c7;color:white">
                        <span>События</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>