<div class="modal-header p-0" style="border-bottom-width: 0px;height: 40px;">
    <h5 class="modal-title mr-3 my-auto ml-2">{{AlertHeader}}</h5>
</div>
<div class="modal-body" style="min-width: 530px;">
    <div class="row">
        <div class="col-12">
            <span>{{AlertBody}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" (click)="context.resolve(false);">Отменить</button>
    <button class="btn btn-success" (click)="context.resolve(true);">Принять</button>
</div>